<h1 class="text-center">欲しいものランキングページ</h1>
<% num = 0 %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <% @ranks.each do |item_id, count| %>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge"><%= "総数：#{count}" %></span>
          <% i = Item.find(item_id) %>
          <span class="label label-primary">
            <%= "#{num += 1}" %>
          </span>
          <%= "　#{i.title}" %>
        </li>
      </ul>
    <% end %>
  </div>
</div>
